.bio-stage{
  background:#000;
  width:100%;
  min-height: 100vh;
  overflow: auto;
  padding:100px 0px;

}
.bio-face img{
  width:100%;
  max-width: 600px;
}
.bio-container{
  max-width: 1000px;
  width:100%;

  color:#fff;
  text-align: center;
  font-size: 12pt;
  font-family: 'Karla';
  text-align: justify;
  display:flex;
  align-items: center;

}
.bio-container h1{
  text-transform: uppercase;
  font-size: 25pt;
  color:#fff;
  margin-bottom:25px;
  letter-spacing: 10px;
  font-family: 'Karla';
}
