@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}
a{
  text-decoration: none;
  color:inherit;
}
a:hover{
  text-decoration: none;
  color: inherit;
}
.main-stage {
  width: 100%;
  height: 100vh;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
	position: relative;
}

.loading{
  background:#fff;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.main-bg {
	background-image: url(../img/oxilo_main.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	position: absolute;
	top:0;
  left:0;
	z-index: 0;
	width:100%;
	height:100%;
}
.nav-container{
  position: fixed;
  z-index: 10000;
  background:rgba(255,255,255,0.98);
  width:100%;
  top:0;
  left: 0;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-container.hidden{
  display: none;
}
.main-nav{
  font-size: 15pt;
}
.nav-list li{
  text-align: center;
  list-style: none;
  padding:15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color:#000;
  font-weight: 300;
  transition:all .3s ease;
}
.nav-list li:hover{
  cursor: pointer;
  color:#a0c9e7;
}
.my-nav-container {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 1000;
  height: 50px;
  justify-content: flex-end;
  top: 0;
}

.menu-btn {
  margin-right: 15px;
  color: #fff;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  text-align: center !important;
  font-size: 12pt;
  line-height: 40px;
  transition: box-shadow .3s cubic-bezier(0.175, 0.885, 0.32, 1.275), background .3s ease;
}

.menu-btn:hover {
  cursor: pointer;
  background: #a0bad0;
  color: #fff;
  box-shadow: 0 0 0 5px rgba(160, 186, 208, 0.63);
}

.main-logo {
  display: flex;
  align-items: center;
  padding-bottom: 20vh;
}

.logo-line-left {
  height: 1px;
  background: #fff;
  width: 100px;
  float: left;
  transform: scaleX(0);
}

.logo {
  transform: rotate(90deg);
  float: left;
  padding: 15px;
  font-size: 19pt;
  color: #fff;
  letter-spacing: 9px;
}

.logo-line-right {
  height: 1px;
  background: #fff;
  width: 100px;
  float: right;
  transform: scaleX(0);
}
.play-icon{
  pointer-events: none;
}
.section-a {
  padding:50px 0px;
  overflow: auto;
  min-height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  background: linear-gradient(135deg, rgba(255,145,217,1) 0%, rgba(182,103,235,1) 100%);
  align-items: center;
}
.feel-good{
  background: linear-gradient(135deg, rgb(61, 195, 186) 0%, rgba(33, 107, 218, 1) 100%);
}
.time-well-wasted{
  background: linear-gradient(135deg, rgb(202, 124, 214) 0%, rgba(213, 73, 132, 1) 100%);
}
.need-somebody{
  background: linear-gradient(135deg, #ff9900 0%, #ff0000 100%);
}
.section-a .container{

  align-items: center;
}
.disc-img{
  position: relative;
  overflow: auto;
}
.disc-img img{

  width:100%;
}
.disc-play{
  transition:all .3s ease;
  position: absolute;
  transform: scale(0.856);
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffe7fc;
  font-size: 37pt;
  opacity: 0;
}

.disc-play:hover{
  cursor: pointer;
  opacity: 1;
}
.disc-title{
  display: flex;
  align-items: center;
  padding-left:50px;
  font-size: 12pt;
  color:#fff;
  font-family: 'Karla';
  width:50%;
  pointer-events: none;
}
.disc-title h1{
  font-size: 20pt;
  color:#fff;
  text-transform: uppercase;
  margin:0;
  padding:0;
  letter-spacing: 2px;


}
.col-sm-12, .col-md-6,.col-lg-6{
  padding:0 !important;
}
.scroll-down-btn{
  text-align: center;
  position: absolute;
  width:100%;
  top:85vh;
  z-index: 1000;
  font-size: 25pt;
  cursor: pointer;
  transition:all .3s ease;
}
.white-scroll{
  color:#fff !important;
}
.scroll-down-btn:hover{
  color:rgb(9, 122, 255);
}
.epk-stage{
	width:100%;
	height:100vh;
	background-image: url(../img/main_bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	top:0;
	position: absolute;
	overflow-x: hidden;
}

.slanted{
	background: #855077;
    height: 300px;
    margin-top: 610px;
    width: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    clip-path: polygon(0 97%, 100% 0%, 100% 100%, 0 100%);
    position: relative;
    z-index: 99;
}
.rest{
	background:#855077;
	overflow: auto;
	width:100%;
	position: relative;
	z-index: 100;
	color:#fff;
}
.title-1{
	color:#ffbbd7;
	font-size: 17pt;
	text-transform: uppercase;
	letter-spacing: 7px;
	margin-bottom:15px;
}
.main-title{
	font-size: 55pt;
	line-height: 50pt;
	color:#fff;
	text-transform: uppercase;
	letter-spacing: 10px;
	left:25%;
	top:120px;
	position: absolute;
	font-weight: 300;
	width:250px;
}
.details{
	font-size: 13pt;
	line-height: 18pt;
	letter-spacing: normal;
	text-transform: none;
}
.social-icons i{
	font-size: 12pt !important;
	color:#fff;
}
.social-icons{
	font-size: 20pt;
	line-height: 20pt;
}
.details span{
	color:#DB92E8;
	font-weight: bold;
}
.disco-details{
	font-size: 12pt;
}
.discography-item{
	width:100%;
	display: flex;
	align-items: center;
}
.disco-title{
	font-size: 15pt;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.disco-number{
	float: left;
	font-size: 20pt;
	font-weight: 300;
	margin:25px;
}
@media only screen and (max-width: 760px) {
  .scroll-down-btn{
    display: none;
  }
  #some-element { display: none; }
  .main-bg{
    background-attachment: scroll;
    left:0;
  }
  .main-logo{
    padding-bottom:0;
  }
  .logo-line-left, .logo-line-right{
    display: none;
  }
  .main-stage{
    height:94vh;
  }
  .disc-title h1{
    font-size: 16pt;
    letter-spacing: 1px;
    text-align: center;
  }
  .disc-title{
    width:100%;
    margin:0;
    padding:15px !important;
    text-align: justify;
  }


}
